<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton Naki</title>
</head>
<body>
    <header>
        <h1>Hamilton Naki</h1>
    </header>
    <main><img src="/img/Hamilton_Naki.jpg" alt="">
    <p>Hamilton Naki fue un médico cirujano y maestro sudafricano, sin ninguna formación académica, al que se ha reconocido por colaborar con el doctor Christiaan Barnard en las investigaciones que dieron origen al primer trasplante de corazón exitoso; se le ha atribuido además intervención en el proceso del trasplante</p>
    </main>
</body>
</html>