<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>DH Heroes</h1>
        <h2>Charles Babbage</h2>
        <li><a href="/babbage"><img src="/img/licensed-image.jpg" width="160px" alt=""></a></li>
        <h2>Tim Berners-Lee</h2>
        <li><a href="/bernes-lee"><img src="/img/tim-berners-lee.jpeg.jpg" width="160px" alt=""></a></li>
        <h2>Arthur C. Clarke</h2>
        <li><a href="/clarke"><img src="/img/Clarke.jpg" width="160px" alt=""></a></li>
        <h2>Hamilton Naki</h2>
        <li><a href="/hamilton"><img src="/img/Hamilton_Naki.jpg"  width="160px" alt=""></a></li>
        <h2>Edward Hopper</h2>
        <li><a href="/hopper"><img src="/img/1200px-Edward_Hopper,_New_York_artist_LCCN2016871478_(cropped).jpg" width="160px" alt=""></a></li>
        <h2>Ada Lovelace</h2>
        <li><a href="/lovelace"><img src="/img/Ada_Lovelace_portrait_circa_1840.jpg" width="160px" alt=""></a></li>
        <h2>Alan Turing</h2>
        <li><a href="/turing"><img src="/img/Alan_Turing_Aged_16.jpg" width="160px" alt=""></a></li>
        
        
    </header>
</body>
</html>