<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>DH Heroes</h1>
        <h2>Charles Babbage</h2>
        <li><a href="/babbage"><img src="/img/licensed-image.jpg" width="160px" alt=""></a></li>
        <p>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
        <h2>Tim Berners-Lee</h2>
        <li><a href="/bernes-lee"><img src="/img/tim-berners-lee.jpeg.jpg" width="160px" alt=""></a></li>
        <p>Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990</p>
        <h2>Arthur C. Clarke</h2>
        <li><a href="/clarke"><img src="/img/Clarke.jpg" width="160px" alt=""></a></li>
        <p>Arthur Charles Clarke, más conocido como Arthur C. Clarke, fue un escritor y científico británico. Autor de obras de divulgación científica y de ciencia ficción, como la novela 2001: Una odisea del espacio, El centinela o Cita con Rama y coguionista de la película 2001: Una odisea del espacio.</p>
        <h2>Hamilton Naki</h2>
        <li><a href="/hamilton"><img src="/img/Hamilton_Naki.jpg"  width="160px" alt=""></a></li>
        <p>Hamilton Naki fue un médico cirujano y maestro sudafricano, sin ninguna formación académica, al que se ha reconocido por colaborar con el doctor Christiaan Barnard en las investigaciones que dieron origen al primer trasplante de corazón exitoso; se le ha atribuido además intervención en el proceso del trasplante</p>
        <h2>Edward Hopper</h2>
        <li><a href="/hopper"><img src="/img/1200px-Edward_Hopper,_New_York_artist_LCCN2016871478_(cropped).jpg" width="160px" alt=""></a></li>
        <p>Edward Hopper ​ fue un pintor estadounidense, célebre sobre todo por sus retratos de la soledad en la vida estadounidense contemporánea. Se le considera uno de los pintores de la escuela Ashcan, que a través de Arshile Gorky llevó al expresionismo abstracto posterior a la Segunda Guerra Mundial.</p>
        <h2>Ada Lovelace</h2>
        <li><a href="/lovelace"><img src="/img/Ada_Lovelace_portrait_circa_1840.jpg" width="160px" alt=""></a></li>
        <p>Augusta Ada King, condesa de Lovelace, estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. </p>
        <h2>Alan Turing</h2>
        <li><a href="/turing"><img src="/img/Alan_Turing_Aged_16.jpg" width="160px" alt=""></a></li>
        <p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.</p>
        
    </header>
</body>
</html>